APP_NAME=JUDO API
APP_VERSION=0.1.0
API_PREFIX=/api/v1
DATABASE_URL=mysql+pymysql://root:TU_PASSWORD@viaduct.proxy.rlwy.net:54225/judo_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=America/Lima
JWT_SECRET_KEY=CHANGE_ME
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=120
