APP_NAME=JUDO API
APP_VERSION=0.1.0
API_PREFIX=/api/v1
DATABASE_URL=mysql+pymysql://usuario:password@host:3306/judo_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=America/Lima
JWT_SECRET_KEY=change_me
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=120
FACTILIZA_API_TOKEN=
FACTILIZA_API_BASE_URL=https://api.factiliza.com/v1
FACTILIZA_TIMEOUT_SECONDS=10
